
body {
    background-image: url('../uploads/background.jpg');
}

.product_img {
    width: 100px;
}


#buttons li {
    float: left;
    list-style: none;
    display: block;
}

#map {
    height: 300px;
    width: 100%;
}

a, input[type=button] {
    color:black !important;

}

.card-body:hover {
    color:grey !important;
}

/*.labels {*/
/*    color: white;*/
/*    background-color: red;*/
/*    font-family: "Lucida Grande", "Arial", sans-serif;*/
/*    font-size: 10px;*/
/*    text-align: center;*/
/*    width: 10px;*/
/*    white-space: nowrap;*/
/*}*/

.shopping_cart_img {
    width: 50px;
}

