img {
    width: 100px;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,th {
    width: 300px;
}

#buttons li {
    float: left;
    list-style: none;
    display: block;
}
